@font-face {
	font-family: Muller;
	font-display: swap;
	src: url('../fonts/Muller-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url('../fonts/Muller-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url('../fonts/Muller-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url('../fonts/Muller-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url('../fonts/Muller-UltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}
